header{
    position:fixed;
    display:grid;
    grid-template-columns: 3.5% 7.24% auto 29% 2% 3.5%;
    //3.5% 7.24% auto 29% 2% 3.5% where auto was 45% maybe try 1fr and change icon size to auto;
    width:100%;
    z-index:2;
    height:8vh;

    .logo-wrapper{
        display:flex;
        justify-content:center;
        align-items:center;
        grid-column: 2 / 3;
        img{
            max-height:65%;
            width:auto;
        }
    }

    .search-wrapper{
        position:relative;
        display:flex;
        justify-content: center;
        align-items:center;
        
        .fa-search,
        .fa-search:before{
         display:block;
        }

    }

}

.main-menu-wrapper{

    display:flex;
    grid-column: 4 / 5;

    .menu-main-menu-container{
        display:flex;
        width:100%;

        ul{
            display:flex;   
            width:100%;
            justify-content: space-around;
            align-items:center;
            

            a{
                text-decoration:none;
                text-transform:uppercase;
                color:$color-brand-green;
                @include font-secondary-uppercase(){
                    font-size:1.5vw; //1.4rem
                    font-weight:bold;
                }
            }
        }
    }
}




