
header{
    color:white;
}




body{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
    height:auto;
    width:100vw;
    font-size: $font-size-base;
    font-family: $font-family-primary;
}

// h3{
//     display:none;
// }



.hero-banner{
    width:100%;
    height: calc(100vw / 1.5); //original image aspect ratio is approximately 1.5:1
    background-size: 100% auto;
    background-repeat:no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;

    p{
        font-size:4vw;
        width:100%;
        font-family: $font-family-secondary;
    }
    // padding-top: 56.25%;   //16:9 aspect ratio

    // &:before{
    //     background-image: linear-gradiant(to bottom, rgba(0,0,0,1) rgba(0,0,0,0.5));
    // }
}

h2{
    font-size:5rem;
    font-family: $font-family-secondary;
    margin-bottom:$spacing-unit-base;
}

p{
    font-size:2rem;
    text-align:left;
    width:75%;
    color:black;
    line-height:$line-height-base;
    margin-bottom:$spacing-unit-base;
}

