body {
    background: white;
    font-size: 2em;
    overflow-x:hidden;
}

.home-hero-banner{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    width:100%;
    height:calc(100vw / 2); //set aspect ratio of the image wrapper
    min-height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4));

    .wp-post-image{
        position:absolute;
        width:100%;
        max-height:100%;
        object-fit:cover;
        z-index:-1;
    }
    .full-logo{
        position:absolute;
        width:25vw;
        height:25vw;
        min-width:148.5px; //based on screen size of an iphone 5/SE's 25vw;
        min-height:148.5px;
        z-index:2;
    }

}

.shop-categories{
    margin-top:$spacing-unit-base;
    margin-bottom:$spacing-unit-base;
    width:90%;
    // height:30vw; // might not need this as the wrapper height depends on content;
    display:grid;
    grid-template-columns: repeat(4,21.5%); //do eat sleep wear
    grid-template-rows:  auto ;
    // grid-auto-flow: column;
    grid-column-gap: 4.66%;//automatically place items in columns starting with
    grid-row-gap: $spacing-unit-base;                            //implicit grid tracks

    grid-row-gap:$spacing-unit-base;
    font-size:$font-size-base;

    h2{

        margin: 3rem 0;
        grid-row: 1/ span 1;
        grid-column:1/ span 4;
        text-align:center;
    }
    
    .shop-categories-cell{
        grid-row:2 / span 1;
        // background:linear-gradient(rgba(0,0.5,0.5,0.4));
        display:flex;
        box-sizing:border-box;
        flex-direction:column;
        align-items:center;
        width:100%;
        border: 1px solid $color-brand-light-grey;
        border-top: 7px solid $color-brand-light-grey;
        padding:1em;
        
        img{
            // margin: $spacing-unit-base 0 $spacing-unit-base 0;
            height: auto;
            width:33%;  
          }

        p{
            display:flex;
            flex: 1;
            font-size:1.25vw;
            margin: $spacing-unit-base 0 $spacing-unit-base 0;
            width:100%; //might not be needed if we change about's p styling at the bottom of page
            text-align:center; //same as above
            // padding: $spacing-unit-base;
        }   
    }
}

.inhabitent-journal{
    display:grid;
    width:90%;
    grid-template-columns: repeat(3,30%);
    grid-column-gap:5%;

    .journal-cell{
        display:flex;
        img{
            width:100%;
            height:auto;
            object-fit: cover;
        }
        h3{
            color:$color-brand-green;
        }
    }
}

.adventure-blogs{
    width:100%;
    .adventure-blogs-container{
        width:90%;
        display:grid;
        grid-template-columns: 48.3vw 22.5vw 22.5vw;
        grid-template-rows: 22.5vw 22.5vw auto;
        column-gap:3vw;
        row-gap: 3vw;
        
        figure:first-child{
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
        figure:nth-child(2){
            grid-column: 2 / 4;
            grid-row: 1 / span 1;
        }
        figure:nth-child(3){
            grid-column: 2 / 3;
            grid-row: 2 / span 1;
        }
        figure:nth-child(4){
            grid-column: 3 / 4;
            grid-row: 2/ span 1;

        }
    }
}


