.blog-post-index-wrapper{
    display:grid;
    grid-template-columns: 70vw 30vw;  
    width:100%;
    
    .blog-post-index-content{
        grid-column: 1 / 2;
        margin-top:8vh; //height of header
        padding:3rem;
        border-right:1px solid #e1e1e1;

        
        .blog-post{
            width:100%;

            .post-image-wrapper{
                width:100%;

                img{
                    width:100%;
                    height:100%;
                    object-fit: cover;
                }
            }

            .post-title-wrapper{
                width:75%;
                
                h2{
                    color:white;
                    background-color:$color-brand-green;
                    line-height:$line-height-base;
                    padding-left:$spacing-unit-base;
                }
            }

            .post-info-wrapper{
                width:50%;

                p{
                    color:white;
                    background-color:$color-brand-green;
                    line-height:$line-height-base;
                    padding-left:$spacing-unit-base;  
                }
            }
        }

    }

    .sidebar{
        margin-top:8vh; //height of header
        padding:3rem;
        grid-column: 2 / 3;
    }
}



