//Structure
$width-site: 1120px;
$spacing-unit-base:1.5rem;
$border-solid: '1px solid #e1e1e1';
$border-dashed: '1px dashed #c8c8c8';

//Typography
$font-size-base:16px;
$font-color-base:#404040;
$line-height-base:1.75;
$font-family-primary: 'Merriweather Web';
$font-family-secondary: 'Novecento Sans Web';

//Colors
$color-background: #ffffff;
$color-brand-green: #248A83;
$color-brand-purple:#2f1339;
$color-brand-orange:#d99054;
$color-brand-yellow:#f0e4d1;
$color-brand-light-grey:#a1a1a1;
$color-brand-medium-grey:#808080;




